{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true
  },
  "rules": {
    "no-undef": false,
    "global-strict": false,
    "no-extra-semi": 1,
    "no-underscore-dangle": false,
    "no-console": false,
    "no-multi-spaces": false,
    "no-extra-bind": 0,
    "curly": false,
    "no-use-before-define": false,
    "quotes": false,
    "no-unused-vars": false,
    "no-irregular-whitespace": false,
    "camelcase": false,
    "new-cap": false
  }
}
