{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true
  },
  "rules": {
    "no-undef": 0,
    "global-strict": 0,
    "no-extra-semi": 1,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "no-multi-spaces": 0,
    "no-extra-bind": 0,
    "curly": 0,
    "no-use-before-define": 0,
    "quotes": 0,
    "no-unused-vars": 0,
    "no-irregular-whitespace": 0,
    "camelcase": 0,
    "new-cap": 0,
    "comma-dangle": 0
  }
}
