*sublime*

.DS_Store
**/.DS_Store

.vagrant/
.tmp/
.electron-prebuilt/

dist/nodejs-linux
dist/nodejs-osx
dist/Orbit-darwin-x64/
client/node_modules/
node_modules/

cache.db
*.log
user.json
orbit-db-cache.json

Vagrantfile

data/