.ChannelView {
  // display: flex;
  // justify-content: center;
  // align-self: center;
  // width: 100%;
  // height: auto;
  // padding: 1em;
  // padding-right: 1.5em;
  // padding-top: 0em;
  // align-self: center;
  width: 50vw;
  min-width: 512px;
  justify-content: center;
}
