@import 'Animations';
@import 'Colors';

$channel-name-max-height: 5.5vmin;
$channel-name-min-height: 1.5em;

.invisible {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

.ChannelsPanel {
  color: rgb(240, 240, 240);
  border-right: 1px solid rgba(40, 40, 40, 0.4);
  position: absolute;
  z-index: 100;
  background: rgb(32, 32, 32);
  max-width: 20em;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 100%;

  box-shadow: 8px 0px 12px 0px rgba(0,0,0,0.2);

  .panelHeader {
    display: flex;
    flex-direction: column;
    height: 2em;
    margin: 0em 1.25em;
    margin-bottom: 0.5em;
    color: $placeholder-color;
    font-size: 0.8em;
    font-weight: 300;
    font-family: "Lato";
    text-transform: uppercase;
  }

  .link {
    width: 100%;
    display: flex;
    align-items: stretch;
    flex: 1;
  }

  .openChannels {
    display: flex;
    flex: 1 1 100%;
    overflow: auto;
  }

  .row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;

    .channelName {
      display: flex;
      flex: 1 1 80%;
      padding: 0.2em;
      align-items: stretch;
    }

    .closeChannelButton {
      font-size: 0.8em;
      padding: 0em 1em;
      box-sizing: border-box;
      flex: 1 1 20%;
      align-items: center;
      display: flex;
    }

    .closeChannelButton:hover {
      background-color: rgba(64, 64, 64, 1);
      cursor: pointer;
    }

    .unreadMessages {
      color: $main-text-color;
      font-size: 0.5em;
      border-radius: 32px;
      background-color: rgba(240, 240, 240, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 16px;
      width: 16px;
      flex: 1 0 6%;
      margin: 0em 1em;
      margin-top: 2px;
      margin-bottom: 1px;
      align-self: center;
    }

    .hasMentions {
      background: $main-color;
    }
  }

  .joinChannelInput {
    display: flex;
    flex: 1 1 8%;
    justify-content: stretch;
    box-sizing: border-box;
    margin: 2em 0em;
    margin-bottom: 1.0em;
  }

  .loadingIcon {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2em 0em;
    margin-bottom: 1.5em;
  }

  .header {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    box-sizing: border-box;

    font-family: "Lato";
    font-weight: 100;
    font-size: 2.6em;
    color: rgba(228, 228, 228, 0.6);

    padding: 0em 0.2em;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;

    .logo {
      margin-top: 0.75em;
      text-transform: uppercase;
    }
  }

  .networkName {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    box-sizing: border-box;

    padding: 0em 0.2em;

    font-family: "Lato";
    font-weight: 100;
    color: rgba(228, 228, 228, 0.6);

    .text {
      font-weight: 300;
      color: rgba(228, 228, 228, 0.3);
    }
  }

  .userProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  .username {
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    font-family: "Lato";
    font-weight: 100;
    font-size: 1.2em;
    color: rgba(220, 220, 220, 0.8);

    margin-top: 1.5em;
  }

  .bottomRow {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: 000;
    color: rgba(220, 220, 220, 0.2);
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .submitButton, input[type=submit] {
    display: flex;
    align-self: flex-end;
    margin: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .no-close {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

}

.darkener {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.25);
  cursor: pointer;

  .darkenerAnimation {
    $duration: 1.5s;
    $animation-name: darken;

    -webkit-animation: $animation-name;
    animation: $animation-name;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

}

.openPanelAnimation-appear {
  $duration: .3s;
  $animation-name: slideFromLeft;

  -webkit-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.panelHeaderAnimation-appear {
  $duration: 0.6s;
  $animation-name: bounceInLeft;

  -webkit-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.networkNameAnimation-appear {
  $duration: 1s;
  $animation-name: fadeIn;

  -webkit-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}