@import 'Animations';
@import 'Colors';

$controls-height: 2.8em;

.Channel {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform-style: preserve-3d;

  background-color: rgb(32, 32, 32);

  .center {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .loadingIcon {
    position: absolute;
    bottom: 0.75em;
    left: 0.75em;
  }

  .active {
    background-color: $main-color;
    &:hover {
      background-color: $main-color-highligth;
    }
  }

}

.newMessagesBar {
  position: absolute;
  bottom: 2.75em;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.8);
  display: flex;
  justify-content: center;
  padding: 0.2em;

  font-family: "Lato";
  font-weight: 300;

  cursor: s-resize;

  .newMessagesNumber {
    color: $second-color;
    padding: 0em 0.5em;
  }
}

.ChannelView {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  display: flex;
  overflow: auto;
}

.flipped {
  justify-content: flex-end;
}

.dimmed {
  opacity: 0.5;
}

.hide {
  display: none;
}

.none {
  display: none;
}

.icon {
  width: 1.0em;
  height: 1.0em;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  color: $main-text-color;
}

.icon-active {
  width: 1.0em;
  height: 1.0em;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  color: $main-text-color;
  background-color: $main-color;
  border-radius: 32px;
}
.icon-active:hover {
  background-color: $main-color;
  border-radius: 32px;
}

.icon:hover {
  background-color: rgba(48, 48, 48, 1);
  border-radius: 32px;
}

.icon:active {
  background-color: $main-color;
  border-radius: 32px;
}

.blurred  {
  $amount: 2px;
  -webkit-filter: blur($amount);
  -moz-filter: blur($amount);
  -o-filter: blur($amount);
  -ms-filter: blur($amount);
  filter: blur($amount);
}

.ChannelOptions {
  position: absolute;
  bottom: 2.75em;
  right: 0;
  padding: 1.2em 1.2em;
  margin: 0.5em 0.5em;
  margin-right: 1em;
  max-width: 30em;
  font-weight: 300;
  color: $main-text-color;
  background-color: rgb(26, 26, 26);
  display: flex;
  flex-direction: row;

  .row {
    display: flex;
    flex-direction: column;
    flex: 1 1 55%;
    max-width: 55%;
    margin-right: 1em;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    // align-self: flex-end;
    flex: 1;
    margin-left: 1vw;
  }

  input[type=text] {
    font-size: 0.8em;
    width: 100%;
  }

  input[type=submit] {
    margin-top: 0.2em;
    font-size: 0.8em;
    // width: 90%;
    align-self: flex-end;
  }

  .headerText {
    font-size: 0.8em;
    margin-bottom: 0.5em;
    color: $main-text-color;
  }

  .instructionText {
    font-size: 0.8em;
    display: flex;
    color: $placeholder-color;
    font-style: italic;
  }
}

input[type=button], .channelOptionsButton {
  border-top: 1px solid $bar-border-color;
  border-bottom: 1px solid $bar-border-color;
  min-width: 2em;
  margin-left: 0em;
  margin-right: 0em;
  height: 100%;
  margin-top: 0em;
  margin-bottom: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  font-size: 1.0em;
}

  input[type=button], .addFilesButton {
    display: block;
    border-top: 1px solid $bar-border-color;
    border-bottom: 1px solid $bar-border-color;
    min-width: 2em;
    height: 100%;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    font-size: 1.1em;
    font-weight: 400;
  }

.Controls {
  background-color: $bar-background-color;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: $controls-height;
  min-height: $controls-height;
  border-top: 1px solid $bar-border-color;
  border-bottom: 1px solid $bar-border-color;
}

.statusMessage {
  position: absolute;
  bottom: 1.2em;
  right: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;

  color: rgba(228, 228, 228, 0.8);
  font-size: 0.6em;
  font-weight: 300;
  font-family: "Lato";
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  padding: 0.5em 1em;
  border-radius: 16px;
  letter-spacing: 1px;

  background-color: rgba(48, 48, 48, 0.5);
}

.statusMessage:hover {
  background-color: rgba(48, 48, 48, 1);
}

.statusMessage:active {
  background-color: $main-color;
}

.Messages {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  .firstMessage {
    display: flex;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    color: $second-text-color;
    font-weight: 300;
    font-size: 0.8em;
    padding: 0.2em;
    user-select: none;
    -webkit-user-select: none;
  }

}

.flopped {
  flex: 1 1 100%;
}

.controlsAnimation-appear {
  $duration: .3s;
  $animation-name: fadeInUp;

  -webkit-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

// .statusAnimation-enter {
//   $duration: .2s;
//   $animation-name: fadeInDown;

//   -webkit-animation: $animation-name;
//   animation: $animation-name;
//   -webkit-animation-duration: $duration;
//   animation-duration: $duration;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
//   -webkit-animation-timing-function: ease-out;
//   animation-timing-function: ease-out;
// }

// .statusAnimation-leave {
//   $duration: .2s;
//   $animation-name: fadeOutUp;

//   -webkit-animation: $animation-name;
//   animation: $animation-name;
//   -webkit-animation-duration: $duration;
//   animation-duration: $duration;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
//   -webkit-animation-timing-function: linear;
//   animation-timing-function: linear;
// }

.dropzone {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  overflow: hidden;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;

  padding: 0.5em;
  font-family: "Lato";
  font-weight: 300;
  font-size: 4em;
  color: $main-text-color;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px dotted $main-color;
}

.dropzoneActive {
  color: $main-text-color;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px dotted $main-color;
}

.messagesAnimation-enter {
  $duration: 0.3s;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
