$main-color: rgba(120, 60, 140, 1);
$main-color-highligth: rgba(140, 80, 220, 1);
$second-color: rgba(160, 220, 90, 0.6);

$main-text-color: rgba(228, 228, 228, 1.0);
$second-text-color: rgba(228, 228, 228, 0.6);
$dark-text-color: rgba(228, 228, 228, 0.3);
$input-text-color: $main-text-color;

$placeholder-color: rgba(228, 228, 228, 0.15);

$input-border-color: rgb(64, 64, 64);

$bar-background-color: rgb(30, 30, 30);
$bar-background-hover-color: rgb(28, 28, 28);
$bar-border-color: rgba(28, 28, 28, 0);

$primary-color: $main-color;
$secondary-color: $second-color;