@import 'Colors';

$directory-hover-color:      rgb(64, 64, 64);
$directory-link-color:       rgba(128, 196, 255, 0.8);
$directory-link-color2:       rgba(196, 196, 196, 0.6);
$directory-link-hover-color: rgba(128, 196, 255, 1);
$directory-link-hover-color2: rgba(240, 240, 240, 0.9);

.webview {
  // background: white;
  margin: 0.25em;
  margin-bottom: 0.25em;
  min-height: 20em;
  flex: 1 1 50%;
  overflow: auto;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}

.DirectoryView {
  width: 100%;
}

.children {
  flex: 1 0 50%;
  overflow: auto;
  padding-left: 0.4em;
  margin-left: 0.6em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  background-color: rgba(0, 0, 0, 0.075);
  border-left: 1px dotted rgba(255, 255, 255, 0.1);
}

.children:hover {
  border-left: 1px dotted rgba(255, 255, 255, 0.2);
}

.Directory {
  color: $directory-link-hover-color2;
  padding-left: 0.3em;
  padding-right: 0.3em;
  white-space: nowrap;
  // width: 100%;

  .download {
    user-select: none;
    visibility: hidden;
    font-weight: 100;
    font-size: 0.9em;
    cursor: pointer;
    margin-left: 0.75em;
  }

  .size {
    visibility: hidden;
    margin-left: 0.5em;
  }

  a {
    color: $directory-link-color;
    text-decoration: none;
    font-weight: 400;
  }
}

.Directory:hover {
  // background-color: $directory-hover-color;
  border: 0px solid transparent;
  border-radius: 4px;

  .download {
    visibility: visible;
    color: $directory-link-color2;
  }

  .download:hover {
    background-color: rgba(128, 128, 128, 0.4);
    color: $directory-link-hover-color2;
  }

  .size {
    visibility: visible;
    font-size: 0.8em;
    font-weight: 100;
    color: rgba(128, 196, 128, 0.8);
    cursor: default;
  }

  a {
    color: $directory-link-hover-color2;
  }
}

.loading {
  a {
    color: rgba(240, 244, 240, 0.1);
  }
}

.directoryAnimation-appear {
  $duration: 0.2s;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
