.emoji-picker {
  position: absolute;
  top: 0;

  box-sizing: border-box;
  overflow: auto;
  z-index: 1000;

  // background-color: rgb(64, 64, 64);
  background: rgba(248, 248, 248, 1);
  border: 1px solid rgb(228, 228, 228);

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      padding: 4px;
      margin: 0;
      text-align: center;
      display: flex;
      img {
        margin: 0 auto;
      }
    }
  }

  .selected {
    background-color: rgb(196, 196, 196);
    border: 1px solid rgb(128, 128, 128);
    padding: 3px;
  }
}
