$text-color: rgba(228, 228, 228, 0.9);

.LoginView {
  font-family: "Source Sans Pro";
  font-weight: 100;
  font-size: 0.9em;
  padding: 0.1em;
  color: rgb(128, 128, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0;
  // border-top: 1px solid rgba(30, 30, 30, 1);
  box-sizing: border-box;


  .ConfigurationButton {
    position: absolute;
    bottom: 1em;
    right: 1em;
  }

  // TODO: rename to header
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex: 1 0 65%;
    align-items: flex-end;
  }

  .inputs {
    margin: 0em 4em;
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;

    ::-webkit-input-placeholder {
      color: rgba(196, 196, 196, 0.8);
      font-style: italic;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: rgba(196, 196, 196, 0.8);
      font-style: italic;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: rgba(196, 196, 196, 0.8);
      font-style: italic;
    }

  }

  h1 {
    font-family: "Lato";
    font-size: 4.5em;
    font-weight: 100;
    // padding: 1.0em;
    text-transform: uppercase;
    color: rgba(240, 240, 240, 0.7);
    // margin-top: 2.3em;
    // padding-bottom: 0.5em;
    margin: 0;
    padding: 0;
  }

  form {
    margin: 0;
    z-index: 1; // for electron
    // margin-top: 120px;
    display: flex;
    // flex: 1 1 50%;
    align-self: flex-start;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    max-width: 32.5em;

    // .row {
    //   display: flex;
    //   flex-direction: row;
    //   width: 100%;
    //   flex: 1;
    //   justify-content: flex-end;
    // }

    .usernameRow {
      display: flex;
      flex-direction: row;
      flex: 1 0 0%;
      justify-content: center;
      align-items: flex-end;
      font-size: 1.25em;
    }

    .connectButtonRow {
      display: flex;
      flex-direction: row;
      flex: 0 1 15%;
      justify-content: center;
      align-items: flex-end;
      font-size: 1em;

      .hint {
        color: rgba(196, 196, 196, 0.4);
      }
    }

    .lastRow {
      align-items: center;
      flex-direction: column;
      flex: 1 0 20%;
      display: flex;
    }

    .hidden {
      visibility: hidden;
      display: none;
    }

    .centerrow {
      display: flex;
      flex-direction: row;
      margin-bottom: 0.5em;
      justify-content: center;
      width: 100%;
    }

    .center {
      display: flex;
      justify-content: center;
    }

    .logo {
      margin-top: 0.5em;
      opacity: 0.6;
    }

    .logo:hover {
      opacity: 1;
    }

    .label {
      display: flex;
      flex: 1 1 8%;
      min-width: 5em;
      align-self: center;
      justify-content: flex-start;
    }

    .nicknameLength {
      margin-top: 0.5em;
      padding: 0em 0.5em;
      font-size: 0.8em;
      display: flex;
      align-self: center;
    }

    .error {
      color: rgba(240, 96, 96, 0.8);
      margin-top: 1em;
      flex: 1 1 auto;
      text-align: center;
    }

    input[type=submit] {
      // margin-top: 1em;
    }

    input[type=text], input[type=password] {
      border-bottom: 1px solid #a951af;
      margin-bottom: 0;
      width: 100%;
      text-align: center;
    }

    input[type=text]:disabled {
      color: rgba(228, 228, 228, 0.25);
      font-style: italic;
      cursor: not-allowed;
      width: 96%;
    }
  }

  .satellites {
    position: absolute;
    display: flex;
    // flex-direction: row;
    margin-top: 0.5em;
    justify-content: center;
    width: 100%;
  }

}

.loginHeaderAnimation-appear {
  $duration: .5s;
  $animation-name: bounceInDown;

  -webkit-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.loginScreenAnimation-appear {
  $duration: .5s;
  $animation-name: fadeIn;

  -webkit-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.loginBackgroundAnimation-appear {
  $duration: 2s;
  $animation-name: fadeIn;

  -webkit-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
