/* Serif / Sans Serif */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);

/* Monospace fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,400italic|Roboto+Mono:400,100,300);

html, body {
  /*background: #222222;*/
  font-family: "Lato";
  font-weight: 400;
}

h1 {
  /*color: rgb(228, 228, 228);*/
  font-weight: 100;
  margin: auto;
  font-size: 2em;
  /*text-align: center;*/
  /*padding: 1em;*/
}
