@import 'Animations';
@import 'Colors';

$background-color: rgb(40, 40, 40);
$border-color: 		 rgb(36, 36, 36);
$timestamp-color:  rgba(240, 240, 240, 0.6);

.highlighted {
  background-color: rgb(37, 37, 37) !important;
}

.command {
  font-style: italic;
  color: rgba(240, 240, 240, 1) !important;
  margin-left: 0em !important;
}

.Message {
  // font-family: "Cousine";
  // font-size: 0.8em;
	font-weight: 100;

  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  background-color: rgb(35, 35, 35);
  border-bottom: 1px solid rgba(34, 34, 34, 0);
  padding-bottom: 0;

  color: rgba(255, 255, 255, 0.6);

  overflow: hidden;

  .Timestamp {
    display: flex;
    color: $timestamp-color;
    font-weight: 300;
    font-size: 0.8em;
    padding-left: 0.2em;
    padding-right: 0.5em;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }

  .Content {
    margin-left: 0.2em;
    margin-right: 0.5em;
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .popout {
    display: flex;
    position: absolute;
    right: 0;
  }

  .row {
    display: flex;
    align-items: flex-start;
  }

  .Popup {
    border: 1px solid rgb(48, 48, 48);
    font-size: 0.75em;
    margin-right: 0.5em;
    color: rgba(228, 228, 228, 0.8);
    background: rgb(32, 32, 32);
    padding: 1.0em;
  }

  .Verified {
    font-size: 0.6em;
    display: flex;
    align-self: center;
    margin-right: 0.5em;
    color: rgb(64, 64, 64);
  }

  .Verified:hover {
    color: rgb(128, 128, 128);
  }

}
