.Profile {
  position: absolute;
  // transform: translateY(-102%);

  // bottom: 3em;
  // left: 3em;

  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: pre;

  color: rgba(232, 232, 232, 1);
  background-color: rgba(38, 38, 38, 1);
  border: 1px solid rgb(48, 48, 48);

  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);

  width: 23.5em;
  // max-height: 23em;

  box-sizing: border-box;

  // margin-top: -0.1em;
  margin-left: 0.4em;
  padding: 1.0em;
  font-weight: 100;

  .close {
    position: absolute;
    right: 0.7em;
    top: 0.5em;
    font-size: 1.25em;
    cursor: pointer;
    user-select: none;
    font-weight: 100;
  }

  .close:hover {
    color: rgba(255, 255, 255, 1.0)
  }

  .picture {
    height: 5em;
    -webkit-clip-path: circle(32px at center);
    transform: translate(2px, -8px);
    z-index: 0;
  }

  .name {
    font-weight: 300;
    font-size: 1.6em;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
    border-bottom: 1px solid rgba(64, 64, 64, 1);
    box-sizing: border-box;
  }

  .userId {
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  .signKey {
    font-style: italic;
    font-size: 0.8em;
  }

  .identityProvider {
    font-style: italic;
    font-size: 0.8em;
  }

  .country {
    font-style: italic;
    font-size: 0.8em;
  }

  .title {
    font-weight: 300;
    font-size: 0.8em;
    margin-top: 1.2em;
    margin-bottom: 0.2em;
  }

  .more {
    font-size: 0.8em;
    cursor: pointer;
    user-select: none;
    margin-top: 0.75em;
    color: rgba(232, 232, 232, 0.5);
  }

  .more:hover {
    background-color: rgba(96, 96, 96, 0.8);
    user-select: none;
    color: rgba(232, 232, 232, 1);
  }

  .profileDataContainer {
    min-height: 25vh;
    box-sizing: border-box;
  }

  pre {
    margin: 0;
    font-weight: 100;
    font-size: 0.8em;
    font-family: "Roboto Mono";
    background-color: rgba(32, 32, 32, 0.66);
    padding: 0.5em;
    white-space: pre;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
    height: 25vh;
    // width: 27.4em;
    box-sizing: border-box;
  }

  .profilePictureAnimation-appear {
    $duration: 1.0s;
    $animation-name: fadeIn;

    -webkit-animation: $animation-name;
    animation: $animation-name;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
