@import 'Animations';
@import 'Colors';

.RecentChannelsView {
  display: flex;
  flex-direction: column;
  flex: 1;

  .RecentChannels {
    overflow: auto;
    margin: 1em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
    box-sizing: border-box;

    .link {
      box-sizing: border-box;
      vertical-align: middle;
      cursor: pointer;
      color: rgba(228, 228, 228, 0.3);
      font-weight: 100;
      margin-right: 0.2em;
      margin-bottom: 0.1em;
    }

    .link:hover {
      background-color: rgb(48, 48, 48);
      color: rgb(228, 228, 228);
      border: 0px solid transparent;
    }

  }

  .submitButton {
    display: flex;
    align-self: flex-end;
  }

}
