@import 'Animations';
@import 'Colors';

.Reply {
  font-size: 0.9em;
  color: rgba(96, 96, 96, 1);
  font-style: italic;

  flex-direction: row;
  display: flex;
  align-items: baseline;
  align-self: center;

  // margin-top: 0.25em;
  // margin-left: 0.75em;
}

.ReplyContent {
  // margin-left: 0.2em;
  // margin-right: 0.5em;
  display: flex;
  flex: 1;
  overflow: hidden;
  font-size: 1.25em;
  // padding: 0.5em 0;
  // padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-top: 0.25em;
}

.replyToIcon {
  display: inline-block;
  transform: rotate3d(0, 0, 1, 180deg) rotate3d(1, 0, 0, 180deg);
  color: rgba(128, 128, 128, 0.8);
  padding: 0.3em;
  padding-right: 0;
  font-style: normal;
}

