@import 'App';
@import 'Colors';

.SendMessage {
  box-sizing: border-box;
  font-family: "Source Sans Pro";
  font-weight: 100;
  font-size: 0.9em;
  padding: 0.1em;
  color: rgb(128, 128, 128);
  display: flex;
  flex: 1 1 auto;
  max-width: 60vmax;
  margin-top: 0;

  form {
    display: flex;
    flex: 1 1 auto;
    margin-right: 0.5em;
  }

  input[type=text] {
    margin: 0.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    flex: 1 1 100%;
  }

  .username {
    display: flex;
    align-items: center;
    color: $main-text-color;
    margin-right: 0.5em;
    padding: 0em 0.25em;
  }
}

.emojiPreview-appear {
  $duration: .1s;
  $animation-name: fadeInUp2;

  -webkit-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
