@import 'Colors';

.SwarmView {
  color: #fff;
  background: #282828;

  width: 100%;
  height: 100%;
  margin: 0;

  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 1.0em;
  color: rgba(240, 240, 240, 0.9);

  .peers {
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  .green {
    color: $second-color;
    font-size: 1.25em;
    font-weight: 400;
    margin: 0em 0.25em;
  }

  .summary {
    font-size: 1.0em;
    color: $main-text-color;
    padding: 0.5em;
    border-bottom: 1px solid rgb(34, 34, 34);
    // height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .peer {
    padding: 0.3em;
    padding-left: 1.2em;
    background-color: rgba(38, 38, 38, 1.0);
    border-bottom: 1px solid rgb(34, 34, 34);
  }

  .peerAnimation-appear {
    $duration: 0.3s;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

}
